.navbar {
    align-items: center;
}

.navbar img {
    width: 150px;
}

#social img {
    width: 60px;
}

.btn {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.banner {
    background-color: #810000;
    padding-top: 120px;
}

.banner img {
    width: 100%;
    height: 600px;
}

@media (max-width: 575px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }
}