 <div class="row">
    <div class="acerca" >
        <img class="pf-pic" src="../../../assets/me.PNG">
    </div>    
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3 id="nombre">Agustin Blanco</h3>
        <p>Desarrollador Web Full Stack Jr.</p>
    </div>    
   
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="info">
        <span>
        <h1>Acerca de mi</h1>
        <p>Estudiante de programación autodidacta, hace 30 años no pago mis impuestos, me gustan un poco los videojuegos.</p>   
        </span>
    </div>
</div>
